onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=workerd
onlyBuiltDependencies[]=better-sqlite3
onlyBuiltDependencies[]=ffmpeg-static
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=supabase
onlyBuiltDependencies[]=@sentry/cli
onlyBuiltDependencies[]=core-js
